includes:
  - 'phpstan-baseline.neon'
parameters:
  level: 'max'
  paths:
    - 'Classes'
    - 'Configuration'
    - 'Tests'
  reportUnmatchedIgnoredErrors: false
  ignoreErrors:
    - identifier: 'missingType.iterableValue'
